div {
  text-align: center;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}

span.completed {
  text-decoration: line-through;
  color: green;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #c6c6c6;
  cursor: not-allowed;
}
.deleteButton {
  background-color: red;
}

.deleteButton:hover {
  background-color: rgb(145, 9, 9);
}

.completeButton {
  background-color: green;
}
.completeButton:hover {
  background-color: rgb(18, 58, 18);
}